[Unit]
Description=Mount robertfry-steam.iso loopback from Titan Games
ConditionPathExists=/media/titan.saturn.local/games/robertfry-steam.iso

[Service]
ExecStart=/home/robertfry/.config/systemd/user/robertfry-steam.sh mount
ExecStop=/home/robertfry/.config/systemd/user/robertfry-steam.sh umount
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
