[Unit]
Description=Mount robertfry-games.iso loopback from Titan Games
ConditionPathExists=/media/titan.saturn.local/games/robertfry-games.iso

[Service]
ExecStart=/home/robertfry/.config/systemd/user/robertfry-games.sh %h mount
ExecStop=/home/robertfry/.config/systemd/user/robertfry-games.sh %h umount
RemainAfterExit=yes

[Install]
WantedBy=default.target
