[Unit]
Description=Start scc-daemon on login

[Service]
ExecStart=/usr/bin/scc-daemon start
ExecStop=/usr/bin/scc-daemon stop
RemainAfterExit=yes
PIDFile=${$XDG_STATE_HOME:-$HOME/.local/state}/scc/daemon.pid

[Install]
WantedBy=default.target
